/* @import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
.nav-link {
    text-decoration: none;
    text-align: center;
    color: #335343;
    font-size: 19px;
}
.nav-link:hover {
    font-weight: bold;
    color: #74a49c;
    background-color: #bedbbb;
    font-size: 18px;
}
nav {
    background-color: #f1f6f9;
}
.project-img{
    padding: 5%;
}
.project-img1{
    padding: 20%;
}
.navname .nav-link {
    font-weight: bold;
    font-size: 25px;
    /* font-family: "Londrina Solid", cursive; */
    font-family: "Dancing Script", cursive;
}
.navname .nav-link:hover {
    background-color: transparent;
    color: #74a49c;
    font-size: 25px;
}
.maincard {
    padding-top: 100px;
}
.maintext {
    font-size: 20px;
}
.imgprofile {
    width: 250px;
    height: 250px;
}
.card-title {
    color: #335343;
}
.card-header {
    border-bottom: transparent;
    background-color: #f1f6f9;
}
.acontact {
    text-decoration: none;
    color: #335343;
}
.acontact:hover {
    color: #74a49c;
}
.subcard:hover {
    border-color: #335343;
    border-width: 4px;
}
@media (max-width: 40em) {
    .nav-link {
        text-align: left;
    }
    .navname .nav-link {
        text-align: center;
    }
    .imgprofile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
